<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Attrandom</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://unpkg.com/vue@3.0.5"></script>
  </head>
  <body>
    <div id="root">
      <div id="app">
        <div
          class="column fill"
          :class="[{'ready-to-pick': filesCount >= 1}]"
          id="text-picker"
        >
          <template v-if="filesCount === 0">
            <p class="emoji-text">📜📜📜</p>
            <p>Drag text file(s) here.</p>
            <p class="error" v-if="itemsDropped">
              Some entries have been dropped, but no text found.
            </p>
          </template>
          <template v-else>
            <div
              class="text-file"
              v-for="(p, index) in pickedLines"
              :key="index"
              v-on:click="roll(index)"
            >
              <p class="emoji-text die-icon">🎲</p>
              <div class="picked-text">
                <p class="summary">
                  {{ p.source.path }}, Line #{{ p.lineIndex + 1 }}:
                </p>
                <p class="content" :class="[{'empty-line': p.content === ''}]">
                  <template v-if="p.content === ''">(empty line)</template>
                  <template v-else>{{ p.content }}</template>
                </p>
              </div>
            </div>
          </template>
        </div>
        <div id="overlay" v-if="dragHovering || loadingDroppedItem">
          <p v-if="dragHovering">Ready to Drop!</p>
          <div v-if="loadingDroppedItem">
            <div class="loading lds-dual-ring"></div>
            <p>Loading text file(s)...</p>
          </div>
        </div>
      </div>
    </div>
    <script src="./code.js"></script>
  </body>
</html>
